body{
    text-align: center;
    background-image: url('home.jpg');
    background-size: 100vw 90vh;
    background-repeat: no-repeat;
    background-color: #030544;
}
.container-1{
    min-height: calc(100vh - 65px - 10vh);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-1 h1{
    font-size: 65px;
    color: rgb(3, 6, 72);
    text-shadow: 0px 2px 2px white;
}
.container-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin: 10px auto;
}
/*.slider{
    display: flex;
    justify-content: center;
    background-color: white;
    height: 300px;
    width: 50vw;
    margin: 30px auto;
    overflow: hidden ;
}
.slider img{
    display: block;
    margin: auto;
    
}
.slider-photo-1{
    transform: translate(-14vw);
}
.slider-photo-2{
    transform: translate(-7vw);
}
.slider-photo-3{
    transform: translate(0vw); //1
    animation: slide1 0.2s 2s infinite forwards;
}
.slider-photo-4{
    transform: translate(7vw);
}
.slider-photo-5{
    transform: translate(14vw);
}

@keyframes slide1 {
    0% {
            transform: translate(0vw) ;
    }
    100% {
            transform: translate(-7);
    }
}*/
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.container-2 h3{
    color:#0abbf1;
    margin: 20px 0;
    font-size: 30px;
}
.music-1{
    align-self: flex-end;
    width: 40vw;
    background-color: #030544;
}
.container-2 p{
    color: rgb(14, 227, 242);
    text-align: left;
    line-height: 23px;
}


@media only screen and (max-width:1000px){
    h1{
        font-size: 50px;
    }
    .container-1{
        min-height: calc(100vh - 120px - 10vh);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container-2 p{
        font-size: 15px;
        line-height: 20px;
    }
}